@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Rationale&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

:root {
  --color-highlight: #00e5a0;
  --color-primary-text: #e2e2e2;
  --color-secondary-text: #a6a6a6;
  --color-tertiary-text: #6f6f6f;

  --font-primary: 'Jura', sans-serif;
  --font-secondary: 'Space Mono', monospace;
}

@theme inline {
  --color-highlight: var(--color-highlight);
  --color-primary-text: var(--color-primary-text);
  --color-secondary-text: var(--color-secondary-text);
  --color-tertiary-text: var(--color-tertiary-text);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

/* Global styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  display: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-clip: padding-box;
  border: 6px solid transparent;
  box-shadow: inset 0 0 0 7px;
}

@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 7px #555;
  }

  *::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 7px #777;
  }
}

body {
  color: var(--color-primary-text);
  font-family: var(--font-secondary);
  background-color: #151515;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
